#wrap {
    width: 100%;
}

header {
    background-color: rgba(225, 232, 234, 0.82);
    width: 100%;
    height: 100px;
    transition: 0.2s;
}

.header-wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 70px;
    padding-top: 15px;
}

.logo img {
    width: 100%;
}

.nav-box {
    width: 80%;
    height: 100px;
}

.users {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 45px;
}

.users li {
    margin-left: 15px;
    line-height: 45px;
}

.users li a {
    font-size: 12px;
}

nav {
    float: right;
    width: 700px;
    height: 55px;
    /* display: flex; */
    
}

.nav-main {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    height: 55px;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    
}

.main-menu:hover {
    border-bottom: 2px solid #fff;
}

.main-menu a {
    color: #000;
    font-weight: 500;
}



.sub-menu {
    visibility: hidden;
    z-index: 9999;
    
}

.sub-menu li {
    font-size: 16px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-bottom: 1px solid #fff; */
}

.sub-menu li:hover {
    background-color: #adadad;
}

.sub-menu li:first-child {
    border-radius: 5px 5px 0 0;
}

.sub-menu li:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}



/* footer 시작 */

footer {
    padding: 20px 0;
    width: 100%;
    background-color: #9EA2A9;
    font-size: 12px;
}

.footer-wrap {
    max-width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.footer-wrap ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
}

.footer-logo {
    padding-top: 0;
}

.copyright p {
    font-size: 12px;
    margin-bottom: 5px;
}

.tell p:first-child {
    margin-bottom: 10px;
}

.footer-sns {
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.footer-sns a {
    font-size: 25px;
    color: #555;
}

.footer-sns a:hover {
    color: tomato;
}
/* footer 끝 */


/* Anchor 시작 */

.anchor {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 35px;
    height: 35px;
    background-color: rgb(139, 131, 131);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}